{% extends 'back.html.twig' %}

{% block body %}   
    <div class="p-ww">
        <form>
            <span> </span>
            <span> </span>
            <a class="btn" href="">Continuer</a>
        </form>
    </div>

{% endblock  %}